openapi: 3.1.0
info:
  title: Apigee API Hub Analytics Certificates API
  description: API for cataloging, organizing, and governing APIs across an organization. Enables API discovery, metadata management, dependency mapping, deployment tracking, and AI-powered specification boost.
  version: 1.0.0
  contact:
    name: Google Cloud Apigee
    url: https://cloud.google.com/apigee/docs/apihub/what-is-api-hub
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://apihub.googleapis.com/v1
  description: Apigee API Hub Production Server
security:
- oauth2: []
tags:
- name: Certificates
  description: Manage SSL/TLS certificates
paths:
  /projects/{projectId}/locations/{locationId}/products/{productId}/certificates:
    get:
      operationId: listCertificates
      summary: Apigee List Certificates
      description: Lists all certificates for the specified product. Certificates are used for TLS/SSL authentication with external services.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationId'
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      - name: filter
        in: query
        description: Filter expression to narrow the results.
        schema:
          type: string
      responses:
        '200':
          description: Successful response with list of certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCertificatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createCertificate
      summary: Apigee Create a Certificate
      description: Creates a new certificate for use with integrations that require TLS/SSL authentication.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationId'
      - $ref: '#/components/parameters/productId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '200':
          description: Successful response with the created certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{projectId}/locations/{locationId}/products/{productId}/certificates/{certificateId}:
    get:
      operationId: getCertificate
      summary: Apigee Get a Certificate
      description: Gets details for a specific certificate.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationId'
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/certificateId'
      responses:
        '200':
          description: Successful response with certificate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCertificate
      summary: Apigee Update a Certificate
      description: Updates an existing certificate.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationId'
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/certificateId'
      - name: updateMask
        in: query
        description: Comma-separated list of fields to update.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '200':
          description: Successful response with updated certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCertificate
      summary: Apigee Delete a Certificate
      description: Deletes a certificate. The certificate must not be in use by any active integration version.
      tags:
      - Certificates
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationId'
      - $ref: '#/components/parameters/productId'
      - $ref: '#/components/parameters/certificateId'
      responses:
        '200':
          description: Successful response confirming deletion
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    locationId:
      name: locationId
      in: path
      description: Google Cloud region or location.
      required: true
      schema:
        type: string
    certificateId:
      name: certificateId
      in: path
      description: Certificate identifier.
      required: true
      schema:
        type: string
    pageToken:
      name: pageToken
      in: query
      description: Page token returned from a previous list request.
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        format: int32
    productId:
      name: productId
      in: path
      description: Product identifier (typically the Apigee product name).
      required: true
      schema:
        type: string
    projectId:
      name: projectId
      in: path
      description: Google Cloud project ID.
      required: true
      schema:
        type: string
  schemas:
    Error:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
            message:
              type: string
            status:
              type: string
    ListCertificatesResponse:
      type: object
      properties:
        certificate:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
        nextPageToken:
          type: string
    Certificate:
      type: object
      description: An SSL/TLS certificate.
      properties:
        name:
          type: string
          description: Output only. Resource name of the certificate.
          readOnly: true
        displayName:
          type: string
          description: Display name of the certificate.
        description:
          type: string
          description: Description of the certificate.
        rawCertificate:
          type: object
          description: Raw certificate data.
          properties:
            sslCertificate:
              type: string
              description: PEM-encoded SSL certificate.
            encryptedPrivateKey:
              type: string
              description: Encrypted private key.
            passphrase:
              type: string
              description: Passphrase for the private key.
        certificateStatus:
          type: string
          description: Output only. Status of the certificate.
          readOnly: true
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - EXPIRED
        validStartTime:
          type: string
          format: date-time
          description: Output only. Start of validity period.
          readOnly: true
        validEndTime:
          type: string
          format: date-time
          description: Output only. End of validity period.
          readOnly: true
  responses:
    Forbidden:
      description: Forbidden. The caller does not have permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized. Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request. The request body or parameters are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found. The specified resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Google OAuth 2.0 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform resources
externalDocs:
  description: Apigee API Hub API Reference Documentation
  url: https://cloud.google.com/apigee/docs/reference/apis/apihub/rest
